node-red/conf_br_ui/conf_br_ui.json
[
    {
        "id": "76d91f07.ac3a6",
        "type": "tab",
        "label": "conf_br",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4cb0504.89b8c8",
        "type": "osc",
        "z": "76d91f07.ac3a6",
        "name": "",
        "path": "/brf/",
        "metadata": false,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "2b4b0c9b.1327b4",
                "80b3ef33.dc44f",
                "49dac299.3997cc",
                "41c4917f.084f8",
                "90dc3825.1fe788"
            ]
        ]
    },
    {
        "id": "6149f037.d7eaa",
        "type": "ui_gauge",
        "z": "76d91f07.ac3a6",
        "name": "gauge slider val",
        "group": "a5b0a529.b3b448",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "breathing factor",
        "label": "msgs",
        "format": "{{value}}",
        "min": "1",
        "max": "2",
        "colors": [
            "#5e9d17",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "2b4b0c9b.1327b4",
        "type": "udp out",
        "z": "76d91f07.ac3a6",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "31000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "47c0be2e.ac9f1",
        "type": "comment",
        "z": "76d91f07.ac3a6",
        "name": "Redefining routine and BrF over ui",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "80b3ef33.dc44f",
        "type": "udp out",
        "z": "76d91f07.ac3a6",
        "name": "",
        "addr": "192.168.0.100",
        "iface": "",
        "port": "31000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "49dac299.3997cc",
        "type": "udp out",
        "z": "76d91f07.ac3a6",
        "name": "",
        "addr": "192.168.0.100",
        "iface": "",
        "port": "8338",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "9886f15d.8ce17",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "73118bcb.c0d344"
            ]
        ]
    },
    {
        "id": "94d13abf.7ccc78",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "e33f1151.a06cb"
            ]
        ]
    },
    {
        "id": "4721d19a.62c29",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "None",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "637c312e.1ed7e"
            ]
        ]
    },
    {
        "id": "248e21d2.fcb59e",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "breathing_biofeedback",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "d99d3cb7.5122f"
            ]
        ]
    },
    {
        "id": "bc6a20c4.549ad",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "pulsating",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "e2deb8.071dd148"
            ]
        ]
    },
    {
        "id": "eda43b9f.6029f8",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "inflate3",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 420,
        "wires": [
            [
                "d81554b5.6d9a78"
            ]
        ]
    },
    {
        "id": "4aa783d6.2798ec",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "deflate3",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "4e9dadde.74b124"
            ]
        ]
    },
    {
        "id": "73118bcb.c0d344",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "c2d3c785.af79a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "1.0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1.0",
        "payloadType": "num",
        "topic": "",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "a311ef29.4d10d"
            ]
        ]
    },
    {
        "id": "e2deb8.071dd148",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "2b554225.6dd52e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "pulsating",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "pulsating",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "fd47011e.b91bc"
            ]
        ]
    },
    {
        "id": "e33f1151.a06cb",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "c2d3c785.af79a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "1.2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1.2",
        "payloadType": "num",
        "topic": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "a311ef29.4d10d"
            ]
        ]
    },
    {
        "id": "d99d3cb7.5122f",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "2b554225.6dd52e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "breathing biofeedback",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "breathing_biofeedback",
        "payloadType": "str",
        "topic": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "fd47011e.b91bc"
            ]
        ]
    },
    {
        "id": "637c312e.1ed7e",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "2b554225.6dd52e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "None",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "None",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "fd47011e.b91bc"
            ]
        ]
    },
    {
        "id": "d81554b5.6d9a78",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "2b554225.6dd52e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "inflate3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "inflate3",
        "payloadType": "str",
        "topic": "",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "fd47011e.b91bc"
            ]
        ]
    },
    {
        "id": "4e9dadde.74b124",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "2b554225.6dd52e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "deflate3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "deflate3",
        "payloadType": "str",
        "topic": "",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "fd47011e.b91bc"
            ]
        ]
    },
    {
        "id": "e7f53dd5.613bc",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "1.5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "1a163381.94a39c"
            ]
        ]
    },
    {
        "id": "1a163381.94a39c",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "c2d3c785.af79a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "1.5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1.5",
        "payloadType": "num",
        "topic": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "a311ef29.4d10d"
            ]
        ]
    },
    {
        "id": "956a2f7f.cb715",
        "type": "inject",
        "z": "76d91f07.ac3a6",
        "name": "",
        "topic": "",
        "payload": "2.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "3fe55194.f8d3be"
            ]
        ]
    },
    {
        "id": "3fe55194.f8d3be",
        "type": "ui_button",
        "z": "76d91f07.ac3a6",
        "name": "",
        "group": "c2d3c785.af79a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "2.0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2.0",
        "payloadType": "num",
        "topic": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "a311ef29.4d10d"
            ]
        ]
    },
    {
        "id": "a311ef29.4d10d",
        "type": "ui_slider",
        "z": "76d91f07.ac3a6",
        "name": "BrF slider",
        "label": "BrF",
        "tooltip": "",
        "group": "a5b0a529.b3b448",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "1",
        "max": "2",
        "step": "0.1",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "b4cb0504.89b8c8",
                "6149f037.d7eaa"
            ]
        ]
    },
    {
        "id": "41c4917f.084f8",
        "type": "debug",
        "z": "76d91f07.ac3a6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd47011e.b91bc",
        "type": "ui_dropdown",
        "z": "76d91f07.ac3a6",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "2b554225.6dd52e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "None",
                "value": "None",
                "type": "str"
            },
            {
                "label": "Breathing biofeedback",
                "value": "breathing_biofeedback",
                "type": "str"
            },
            {
                "label": "Pulsating",
                "value": "pulsating",
                "type": "str"
            },
            {
                "label": "Inflate3",
                "value": "inflate3",
                "type": "str"
            },
            {
                "label": "Deflate3",
                "value": "deflate3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 580,
        "y": 380,
        "wires": [
            [
                "b4cb0504.89b8c8"
            ]
        ]
    },
    {
        "id": "90dc3825.1fe788",
        "type": "udp out",
        "z": "76d91f07.ac3a6",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "8338",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "64ee6cd0.da1324",
        "type": "comment",
        "z": "76d91f07.ac3a6",
        "name": "Conf msg going to server",
        "info": "",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "4dbb7c0b.ebc1b4",
        "type": "comment",
        "z": "76d91f07.ac3a6",
        "name": "Conf msg going to localhost",
        "info": "",
        "x": 920,
        "y": 60,
        "wires": []
    },
    {
        "id": "a5b0a529.b3b448",
        "type": "ui_group",
        "z": "",
        "name": "OSC BrF",
        "tab": "4fbf3652.690fb8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c2d3c785.af79a8",
        "type": "ui_group",
        "z": "",
        "name": "Send Breathing Factor Val",
        "tab": "4fbf3652.690fb8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2b554225.6dd52e",
        "type": "ui_group",
        "z": "",
        "name": "Sequence",
        "tab": "4fbf3652.690fb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4fbf3652.690fb8",
        "type": "ui_tab",
        "z": "",
        "name": "Visualize",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]